<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ referenceName }} - Titan Mage TTRPG</title>
  <meta name="description" content="{{ description }}" />
  <meta name="generator" content="Org mode" />
  <link rel="stylesheet" href="./sakura-light-solarized.css" type="text/css" />
  <script src="./setup.js"></script>
  <script src="./references.js"></script>
</head>

<body>
<div>
  <a href="./index.html">HOME</a>
</div>

<h1 class="title">{{ referenceName }} - Titan Mage TTRPG</h1>

<div class="input-div">
  <input type="text" id="search-field" name="search-field"/>
  <div>
    <input type="button" id="search-button" value="Search"/>
    <input type="button" id="search-clear-button" value="Clear"/>
  </div>
</div>

<div class="json-content">
</div>

<div class="cw">
  <hr>
  <p>Game on</p>
</div>

</body>
</html>
